<% for(var i = 0; i < articles.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= articles[i].title %></td>
    <td><%= articles[i].author %></td>
    <td><%= articles[i].content %></td>
    <td><img src="<%= articles[i].imgUrl %>" width="40" height="40" alt=""></td>
    <td><%= articles[i].status %></td>
    <td>
        <a href="/update-article?id=<%= articles[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= articles[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>