<!-- The Header -->
<%- include('../components/_header', { title: 'Artciles'}) %>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="articles/add-article" class="border-shadow">
        <span class="text-gradient">New article </span>
      </a>
    </div>
    <div class="artciles">
      <% for(var i = 0; i < articles.length; i++) { %>
      <article class="artciles-box">
        <div class="image">
          <img
            src="<%= articles[i].imgUrl %>"
            width="100"
            height="150"
            alt=""
          />
        </div>
        <div>
          <h2><%= articles[i].title %></h2>
          <span><i class="fas fa-user"></i><%= articles[i].author %></span>
          <small><i class="fas fa-time"></i>28/8/2022</small>
          <p><%= articles[i].content %></p>
        </div>
        <a href="articles/details?id=<%= articles[i]._id %>" class="details-btn">
          Show Details
        </a>
      </article>
      <% } %>
    </div>
  </div>
</main>

<!-- The Footer -->
<%- include('../components/_footer') %>
