<!-- The Header -->
<%- include('../components/_header', { title: 'Update Artcile'}) %>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Articles</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update article</h2>
    </div>

    <!-- Update article -->
    <form method="Post" id="update_article">
      <div class="new_article">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%= article._id %>" />
          <input
            type="text"
            name="title"
            value="<%= article.title %>"
            placeholder="Learn Mongoose"
          />
        </div>
        <div class="form-group">
          <label for="author" class="text-light">Author</label>
          <input
            type="text"
            name="author"
            value="<%= article.author%>"
            placeholder="Mohammed"
          />
        </div>
        <div class="form-group">
          <label for="content" class="text-light">Content</label>
          <input
            type="text"
            name="content"
            value="<%= article.content%>"
            placeholder="Mongoose is ..."
          />
        </div>
        <div class="form-group">
          <label for="imgUrl" class="text-light">Image</label>
          <input
            type="text"
            name="imgUrl"
            value="<%= article.imgUrl%>"
            placeholder="http..."
          />
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" id="radio-4" name="status" value="Active" <%=
            article.status == 'Active' ? 'checked' : '' %> >
            <label for="radio-4" class="radio-label">Active</label>
          </div>
          <div class="radio inline">
            <input type="radio" id="radio-5" name="status" value="Inactive" <%=
            article.status == 'Inactive' ? 'checked' : '' %> >
            <label for="radio-5" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>

<!-- The Footer -->
<%- include('../components/_footer') %>
